<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h3>Department performance comparison
</h3>

<canvas id="Marks_based_on_department" width="400" height="450"></canvas>

<script>
fetch("/dashboard-data/")
  .then(res => res.json())
  .then(data => {

    const marks_per_dept = data.total_marks;

    const labels = marks_per_dept .map(item => item.student__name);
    const marks =marks_per_dept .map(item => item.student__department__name);

    new Chart(document.getElementById("Marks_based_on_department"), {
      type: "bar",
      data: {
        labels: labels,
        datasets: [{
          label: "Department",
          data: marks,
          backgroundColor: "rgba(54, 162, 235, 0.6)",
          borderColor: "rgba(54, 162, 235, 1)",
          borderWidth: 1
        }]
      },
      options: {
        responsive: false,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  });
</script>

</body>
</html>
